
table{
    border-collapse: collapse;
}
th, td {
border: 1px solid black;
padding: 5px;
text-align:center;
}
#lab {
		background-color:red;
}
#pred {
	background-color:blue;
}
#aud {
	background-color:green;
}
#dem {
	background-color:aqua;
}
#other
{
	background-color: lime;
}
#raspored{
width:100%;
}
#raspored caption{
color:darkslategray;
font-variant: small-caps;
}
#raspored th{
background-color:darkseagreen;
}